/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: sans-serif;
    font-size: 14px;
}

.btn, .form-input{
    font-size: 14px;
}

.icon {
    font-size: 20px;
    vertical-align: top;
}

.icon-font {
    font-size: 12px;
}

.icon-shopping {
    font-size: 22px;
    vertical-align: middle;
}

.icon-left {
    padding-right: 10px;
}

.icon-right {
    padding-left: 10px;
}

.itemImg {
    width: 100px !important;
    height: 100px !important;
}

.similarItemImg {
    width: 120px !important;
    height: 120px !important;
}

.table-hover tbody .detailItemBg td, .table-hover tbody .detailItemBg th {
    background-color: #C0C1C4;
}

.table-hover tbody .detailItemBg:hover td, .table-hover tbody .detailItemBg:hover th {
    background-color: #C0C1C4;
}

.material-icons.green { color: green; }
.material-icons.red { color: red; }
.material-icons.yellow { color: yellow; }
.material-icons.blue { color: blue; }
.material-icons.turquoise { color: turquoise; }
.material-icons.purple { color: purple; }
.material-icons.silver { color: silver; }
.material-icons.darkYellow { color: #B18730; }