body, html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
}

@font-face {
    font-family: 'futura';
    src: url('./Futura-Bold.woff');
}

.main {
    margin: 0 auto;
    width: 1209px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    perspective: 1px;
    -webkit-perspective: 1px;
}


/*
 *
 * Parallax
 *
 */

 .parallaxgroup {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.all {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 3400px;
}

.front {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 1007px;
}

.img_top{
    z-index: -1;
   /* background-image: url('http://csci571.com/hw/hw3/images/snow1.jpg');

    background-position: center 50px;
    background-repeat: no-repeat;
    background-size: 138%;

    transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2);*/
}

.bright {
    background: linear-gradient(black,black);
    opacity: 0.1;
}

.img_top img{
    width: 137%;
    margin: 150px auto auto -220px;
    transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2);
}

.middle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;   
}

.text_top {
    z-index: 1;
    width: 100%;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.bottom {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 1200px;
    margin-top: 2400px;
}

.img_bottom {
    z-index: -1;
    background-image: url('http://csci571.com/hw/hw3/images/snow6.jpg');

    background-position: top center;
    background-repeat: no-repeat;
    background-size: 146%;

    transform: translateZ(-1px) scale(2);
    -webkit-transform: translateZ(-1px) scale(2);
}

.blank {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 500px;
    background-color: white;
    margin-top: 3400px;
}



/*
 *
 * Front text
 *
 */
.up {
    font-family: 'futura';   
}

.text_top_left {
    position: absolute;
    top: 40px;
    left: 103px;
    font-size: 30px;
    letter-spacing: 7px;
}

.text_top_right {
    position: absolute;
    top: 49px;
    right: 117px;
    font-size: 13px;
    letter-spacing: 2px;
}

.text_top_right span {
    padding-left: 9px;
    padding-right: 9px;
}

.text_top_center {
    position: absolute;
    top: 270px;
    left: -22px;
    right: 0;
    font-size: 93px;
    text-align: center;
    letter-spacing: 0px;
    line-height: 111px;
}

.text_top_center span {
    display: block;
}

.text_top_centersm {
    font-family: 'Mandali', sans-serif;
    position: absolute;
    top: 553px;
    left: 0;
    right: 0;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
}

.text_top_centersm span {
    display: block;
}

.text_btn {
    position: absolute;
    top: 751px;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 2px;
}

.text_btn button {
    font-family: 'futura';
    font-size: 12px;
    padding: 21px 34px;
    background-color: white;
    border: none;
}

.mid {
    position: absolute;
    width: 100%;
    padding: 0 0 100px 0;
    background-color: white;
    top: 1000px;
    display: block;
    margin-bottom: 120px;
    text-align: center;
}

.img_mid, .img_mid2 {
    height: 494px;
}

.img_mid {
    padding-top: 100px;
}

.img_mid2 {
    padding-top: 24px;
}

.img_m {
    width: 494px;
    height: 494px;
}

.mid_left1 {
    position: absolute;
    left: 100px;
    background-image: url('http://csci571.com/hw/hw3/images/snow2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}

.mid_left2 {
    position: absolute;
    left: 100px;
    background-image: url('http://csci571.com/hw/hw3/images/snow4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}

.mid_right1 {
    position: absolute;
    right: 100px;
    background-image: url('http://csci571.com/hw/hw3/images/snow3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}

.mid_right2 {
    position: absolute;
    right: 100px;
    background-image: url('http://csci571.com/hw/hw3/images/snow5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
}

.text_mid {
    font-family: 'Mandali', sans-serif;
    position: relative;
    top: 60px;
    text-align: left;
    color: #565656;
    height: 282px;
    left: 361px;
    letter-spacing: -.5px;
}

.text_mid span {
    display: block;
}

.text_bottom {
    font-family: 'Mandali', sans-serif;
    width: 100%;
    position: relative;
    padding-top: 2862px;
    color: white;
    font-size: 22px;
    text-align: center;
}

.text_bottom span {
    display: block;
}

