<div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="black-form rounded text-white mt-3 pb-3">

        <!--{{this.webService.getGeoLocation}}-->

        <!--{{zipcodeValidator(getValue.location.value, getValue.zip.value)}}-->

        <!--invalid : {{(!searchForm.valid)}}-->

        <h3 class="text-center pt-4 pb-4">Product Search</h3>

        <div class="form-group row required">
            <label for="keyword" class="col-sm-2 offset-sm-2 col-form-label control-label">Keyword</label>
            <div class="col-sm-5">
                <input formControlName="keyword" class="form-control form-input" name="keyword" id="keyword" required placeholder="Enter Product Name (eg. iPhone 8)"
                       [ngClass]="{ 'is-invalid': getValue.keyword.invalid && (getValue.keyword.dirty || getValue.keyword.touched) }" />
                <div *ngIf="getValue.keyword.errors" class="invalid-feedback">
                    Please enter a keyword.
                </div>

            </div>
        </div>

        <div class="form-group row">
            <label for="category" class="col-sm-2 offset-sm-2 col-form-label">Category</label>

            <div class="col-sm-2">
                <select class="form-control form-input" name="category" id="category" [formControlName]="'category'">
                    <option selected value="All Categories">All Categories</option>
                    <option value="Art">Art</option>
                    <option value="Baby">Baby</option>
                    <option value="Books">Books</option>
                    <option value="Clothing, Shoes & Accessories">Clothing, Shoes & Accessories</option>
                    <option value="Computers/Tablets & Networking">Computers/Tablets & Networking</option>
                    <option value="Health & Beauty">Health & Beauty</option>
                    <option value="Music">Music</option>
                    <option value="Video Games & Consoles">Video Games & Consoles</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2 offset-sm-2">Condition</div>
            <div class="col-sm-4">
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" name="new" id="New" formControlName="new">
                    <label class="form-check-label pr-3" for="New">
                        New
                    </label>
                    <input class="form-check-input" type="checkbox" name="used" id="Used" formControlName="used">
                    <label class="form-check-label pr-3" for="Used">
                        Used
                    </label>
                    <input class="form-check-input" type="checkbox" name="unspecified" id="Unspecified" formControlName="unspecified">
                    <label class="form-check-label pr-3" for="Unspecified">
                        Unspecified
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2 offset-sm-2">Shipping Options</div>
            <div class="col-sm-4">
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" name="pickup" id="LocalPickup" formControlName="pickup">
                    <label class="form-check-label pr-3" for="LocalPickup">
                        Local Pickup
                    </label>
                    <input class="form-check-input" type="checkbox" name="shipping" id="FreeShipping" formControlName="shipping">
                    <label class="form-check-label pr-3" for="FreeShipping">
                        Free Shipping
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="Distance" class="col-sm-2 offset-sm-2 col-form-label pt-0">Distance (Miles)</label>
            <div class="col-sm-2">
                <input type="text" class="form-control form-input" name="distance" id="Distance" placeholder="10" formControlName="distance">
            </div>
        </div>

        <div class="form-group row required">
            <label class="col-form-label col-sm-2 offset-sm-2 control-label pt-0">From</label>
            <div class="col-sm-5">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="here" value="1" formControlName="location">
                    <label class="form-check-label" for="here">
                        Current Location
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="other" value="2" formControlName="location">
                    <label class="form-check-label" for="other">
                        Other. Please specify zip code:
                    </label>
                </div>

                <div class="form-loc">

                    <input class="form-control form-input" name="zip" id="zip" formControlName="zip"
                           [ngClass]="{ 'is-invalid': (getValue.location.value === '2') && getValue.zip.invalid && (getValue.zip.dirty || getValue.zip.touched) }"
                           [attr.disabled]="(getValue.location.value === '1') ? '' : null"
                            (input)="OnZipChange($event.target.value)" [matAutocomplete]="auto">


                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let code of this.webService.zipcodesAuto" [value]="code">
                            {{ code }}
                        </mat-option>
                    </mat-autocomplete>

                    <div *ngIf="getValue.zip.errors" class="invalid-feedback">
                        Please enter a zip code.
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn bg-white text-dark col-3 col-sm-1 offset-2"
                    [disabled]="(zipcodeValidator(getValue.location.value, getValue.zip.value) || (!searchForm.valid))">
                <i class="material-icons icon">search</i> Search
            </button>
            <button type="button" class="btn bg-white text-dark col-3 col-sm-1 ml-4" id="clear" (click)="Clear()">
                <i class="material-icons icon">clear_all</i> Clear
            </button>
        </div>
    </form>
</div>

<div class="container">
    <div class="searchTab">
        <button type="button" [ngClass]=resultBtnClass (click)="this.showResult()" >Results</button>
        <button type="button" [ngClass]=listBtnClass (click)="this.showList()" >Wish List</button>
    </div>
</div>

<table-container></table-container>