.black-form {
    background-color: #1F1F25;
}


.form-loc {
    padding-top: 6px;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.invalid-input {
    color: #b90707;
    font-size: 13px;
    padding-top: 3px;
}

.searchTab {
    text-align: center;
    margin: 20px auto;
}

.searchTab .btn:focus, .searchTab .btn:active {
    outline: none !important;
    box-shadow: none !important;
}