
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-page {
    background-color: white;
    border-radius: 0;
}

.btn-dark-page {
    background-color: black;
    color: white;
    border-radius: 0;
}

.btn-page:hover {
    background-color: lightgray;
    text-decoration-line: underline;
    border-radius: 0;
}

.btn-page[disabled]:hover {
    background-color: white !important;
    text-decoration-line: none;
}
