<div *ngIf="this.webService.shippingDetail!==undefined && this.webService.shippingDetail.length!=0; else notFound">

   <table class="table table-dark table-striped w-100">
      <tbody>
         <tr *ngIf="this.webService.shippingDetail[0].shippingCost != 'N/A'">
            <th>Shipping Cost</th><td>{{this.webService.shippingDetail[0].shippingCost}}</td>
         </tr>
         <tr *ngIf="this.webService.shippingDetail[0].hasOwnProperty('shipToLocation') && this.webService.shippingDetail[0].shipToLocation.length !== 0">
            <th>Shipping Locations</th><td>{{this.webService.shippingDetail[0].shipToLocation}}</td>
         </tr>
         <tr *ngIf="this.webService.shippingDetail[0].hasOwnProperty('handlingTime') && this.webService.shippingDetail[0].handlingTime.length !== 0">
            <th>Handling time</th>
            <td *ngIf="this.webService.shippingDetail[0].handlingTime[0] === '0'; else elseif">
               0
            </td>
            <ng-template #elseif>
               <td *ngIf="this.webService.shippingDetail[0].handlingTime[0] === '1'; else other">
                  1 Day
               </td>
            </ng-template>
            <ng-template #other>
               <td>{{this.webService.shippingDetail[0].handlingTime[0]}} Days</td>
            </ng-template>
         </tr>
         <tr *ngIf="this.webService.shippingDetail[0].hasOwnProperty('expeditedShipping') && this.webService.shippingDetail[0].expeditedShipping.length !== 0">
            <th>Expedited Shipping</th>
            <td>
               <i *ngIf="this.webService.shippingDetail[0].expeditedShipping[0] === 'true'" class="material-icons icon green">done</i>
               <i *ngIf="this.webService.shippingDetail[0].expeditedShipping[0] === 'false'" class="material-icons icon red">close</i>
            </td>
         </tr>
         <tr *ngIf="this.webService.shippingDetail[0].hasOwnProperty('oneDayShippingAvailable') && this.webService.shippingDetail[0].oneDayShippingAvailable.length !== 0">
            <th>One Day Shipping</th>
            <td>
               <i *ngIf="this.webService.shippingDetail[0].oneDayShippingAvailable[0] === 'true'" class="material-icons icon green">done</i>
               <i *ngIf="this.webService.shippingDetail[0].oneDayShippingAvailable[0] === 'false'" class="material-icons icon red">close</i>
            </td>
         </tr>
      <tr *ngIf="this.webService.shippingDetail.hasOwnProperty('returnsAccepted') && this.webService.shippingDetail.returnsAccepted !== 'N/A'">
         <th>Return Accepted</th>
         <td>
            <i *ngIf="this.webService.shippingDetail.returnsAccepted === 'true'" class="material-icons icon green">done</i>
            <i *ngIf="this.webService.shippingDetail.returnsAccepted === 'false'" class="material-icons icon red">close</i>
         </td>
      </tr>
      </tbody>
   </table>

</div>

<ng-template #notFound>
   <div class="row justify-content-center">
      <div class="alert alert-warning col-10 mt-4" role="alert">
         No Records.
      </div>
   </div>
</ng-template>